<div class="mx-20 mt-12 mb-6 flex flex-wrap">
  <p class="text-6xl font-extrabold w-full pb-4">Plaid Pattern</p>
  <p class="text-3xl font-thin pb-4 border-b border-black">
    This page shows a user's net worth, spending by category, and allows them 
    to explore account and transactions details for linked items.
  </p>
</div>
<div class="mx-20 mt-12 mb-6 py-8 flex flex-wrap justify-around shadow-xl content-center border border-gray-100">
  <div class="flex flex-wrap justify-between content-between">
    <p class="w-full font-bold text-sm mb-2">EMAIL</p>
    <p><%= current_user.email %></p>
  </div>
  <div>
    <p class="w-full font-bold text-sm mb-2">CREATED ON</p>
    <p><%= current_user.created_at.strftime('%m/%d/%Y') %></p>
  </div>
  <div>
    <p class="w-full font-bold text-sm mb-2">NUMBER OF BANKS CONNECTED</p>
    <p><%= @items.size %></p>
  </div>
</div>
<div class="mx-20 my-20 flex flex-wrap">
  <p class="text-3xl font-extrabold w-full pb-2">Net Worth</p>
  <p class="text-2xl font-thin w-full">A summary of your assets and liabilities</p>
</div>
<div class="mx-20 my-10 flex flex-wrap">
  <p class="text-lg font-thin w-full pb-4">
    YOUR TOTAL ACROSS <%= pluralize(@items.size, "bank").upcase %>
  </p>
  <p class="text-3xl font-extrabold w-full pb-2">$220.00</p>
</div>
<div class="mx-20 my-10 flex flex-wrap justify-between space-x-4">
  <div class="px-8 pt-8 pb-20 flex flex-wrap border border-gray-200 justify-between flex-1 space-y-12">
    <div class="w-full flex flex-wrap justify-between">
      <p>$43,250.00</p>
      <p>Add Asset</p>
    </div>
    <div class="w-full">
      <p class="text-2xl font-thin">Assets</p>
    </div>
    <div class="flex flex-wrap space-y-4 font-thin">
      <div class="w-full flex space-x-2">
        <p class="flex-1">Cash</p>
        <p class="flex-1">$43,310.00</p>
      </div>
      <div class="w-full flex space-x-2">
        <p class="flex-1">Investments</p>
        <p class="flex-1">$0.00</p>
      </div>
    </div>
  </div>
  <div class="px-8 pt-8 pb-20 flex flex-wrap border border-gray-200 justify-between flex-1 space-y-12">
    <div class="w-full flex flex-wrap justify-between">
      <p>$3,500.00</p>
    </div>
    <div class="w-full">
      <p class="text-2xl font-thin">Liabilities</p>
    </div>
    <div class="flex flex-wrap space-y-4 font-thin">
      <div class="w-full flex space-x-2">
        <p class="flex-1">Credit Cards</p>
        <p class="flex-1">$3,500.00</p>
      </div>
      <div class="w-full flex space-x-2">
        <p class="flex-1">Investments</p>
        <p class="flex-1">$0.00</p>
      </div>
    </div>
  </div>
</div>
<div class="mx-20 my-20 flex flex-wrap">
  <p class="text-3xl font-extrabold w-full pb-2">Monthly Spending</p>
  <p class="text-2xl font-thin w-full">A breakdown of your monthly spending</p>
</div>
<div class="mx-20 my-10 flex flex-wrap">
  <p class="text-lg font-thin w-full pb-4">
    <%= "Monthly breakdown across #{pluralize(@items.size, "bank")}".upcase %>
  </p>
  <p class="text-3xl font-extrabold w-full pb-2">$100</p>
</div>
<div class="mx-20 my-10 flex flex-wrap justify-between space-x-4">
  <div class="px-8 pt-8 pb-20 flex flex-wrap border border-gray-200 justify-between flex-1 space-y-12">
    <div class="w-full">
      <p class="text-2xl font-thin">Spending Categories</p>
    </div>
    <div class="flex flex-wrap space-y-4 font-thin">
      <div class="w-full flex space-x-2">
        <p class="flex-1">Insert Graph Here</p>
      </div>
    </div>
  </div>
  <div class="px-8 pt-8 pb-20 flex flex-wrap border border-gray-200 justify-between flex-1 space-y-8">
    <div class="w-full">
      <p class="text-2xl font-thin">Top 5 Vendors</p>
    </div>
    <div class="flex flex-wrap space-y-4 font-thin">
      <div class="w-full font-semibold flex flex-wrap space-x-20">
        <p>Vendor</p>
        <p>Amount</p>
      </div>
      <% @top_merchants.each do |merchant_spend| %>
        <div class="w-full flex flex-wrap">
          <p class="flex-1"><%= merchant_spend[0].truncate(16) %></p>
          <p class="flex-1"><%= merchant_spend[1] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="mx-20 mt-20 mb-10 flex flex-wrap justify-between">
  <div class="flex flex-wrap flex-1">
    <p class="text-3xl font-extrabold w-full pb-2">
      <%= "#{pluralize(@items.size, "Banks")} Linked" %>
    </p>
    <p class="text-lg font-thin w-full">
      Below is a list of all your connected banks. Click on a bank to views its associated accounts
    </p>
  </div>
  <button data-controller="plaid-link" class="bg-black text-white px-6 py-4 h-fit rounded-sm">
    <p class="text-xl" id="link-account">
      Add another bank <span class="text-2x ml-8">&#8250;</span>
    </p>
  </button>
</div>
<div class="">
  <% @items.each do |item| %>
    <div class="mx-20 mb-6 py-8 px-8 flex flex-wrap shadow-lg bg-gray-100 content-center border border-gray-200 font-thin justify-between">
      <p class=""><%= item.bank_name %></p>
      <p>Remove</p>
    </div>
  <% end %>
</div>